.main-text{
  font-family: 'Orbitron', sans-serif;
  text-align: center;

}
.contact-text{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

#main_picture{
  border-radius: 150%;
  display: block;
    margin: auto;
    max-width: 20em;
    max-height: 250px;
}


.icon-container{
  text-align: center;
}
.icon {
  font-size: 3rem;
}

.section-headers{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}


.social-media{
  display: flex;
  list-style: none;
   margin: 0 2px;
   padding: 0;
   display: flex;
   justify-content: space-around;
}
